body{
    width: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 12vh;
    background-color: #a4d0e6;
    text-align: center;
    padding:15px 0px 15px 0px;
}

.header img{
    height: 100%;
}

#userdatacontainer{
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    top: -35px;
}

.foot{
    height: 12vh;
    width: 100%;
    background-color: #a4d0e6;

}

.height {
    height: 100px;
    width: 100%;
}



form {
    transform: scale(1.3);
    display: flex;
    flex-direction: column;
	width: 70vh;
    height: 30vh;
    text-align: center;
    justify-items: center;
	padding: 2em;
	background: #fff;
	border-radius:0.25em;
    padding-top: 0cm;

}

input, select {
	padding:0.5em;
	font-size:0.775em;
	font-family:sans-serif;
	background:#f4f4f4;
	border:1px solid rgb(255, 255, 255);
	border-width:1px 1px 1px 0;
	border-radius:0;
    
}


input:focus,
select:focus {
	background:#fff;
	box-shadow:inset 0.1em 0.1em 0.25em rgba(0,0,0,0.2);
	outline:0;
}

.form-field {
	margin-bottom:1em;
	display:flex;
    
}

.form-field label {
	flex:0 1 4em;
	padding:1em;
	background:#fff;
	border:1px solid #ccc;
	text-shadow:0 1px 0 #fff;
	line-height:1;
    height: 2em;
    font-size:0.75em;
}


.form-field input,
.form-field select {
	flex-grow:1;
	
}

.form-field label {
	border-radius:0.25em 0 0 0.25em;
}

.input-right input,
.input-right select,
.multi-input input:last-child,
.multi-input select:last-child {
	border-radius:0 0.25em 0.25em 0;
}

.dob-select{
	flex-basis: 0.2vh;
	
}


input[type="submit"] {
	flex:0 1 40%;
	padding:0.8em;
	font-size:1.2rem;
	font-family:sans-serif;
	text-shadow:0 1px 0 #fff;
	background:#7abde7;
	border-radius:0.25em;
	border:0;
	transition:0.3s;
	cursor:pointer;
}
input[type="submit"]:hover {
	color:#fff;
}

p{
    font-family: sans-serif;
}


label{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

label a{
    color: black;
    padding: 0.5em 0px 0.5em 0px;
}

.losgehts{
    display: flex;
    justify-self: right;
}

.submit-field{
    padding-top: 1%;
}

.sections{
    margin-top: 0;
    height: 76vh;
    width: 100%;
    margin: 0px;
    position: relative;
    background-color: #a4d0e6;
}

#section1{
    z-index: 3;
    width: 22%;
    height: 100%;
    background-image:url("images/sportsection-1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #cccccc;
    transform: skewX(-12deg);
    position: absolute;
    left: -4%;
}

#section1:hover{
    transform: scaleX(1.5) skewX(-12deg); 
}

#section2{
    z-index: 2;
    width: 26%;
    height: 100%;
    background-color: rebeccapurple;
    position: absolute;
    left: 12%;
    transform: skewX(6deg);
}

#section2:hover{
    z-index: 10;
}

#section3{
    z-index: 1;
    width: 30%;
    height: 100%;
    background-color: royalblue;
    position: absolute;
    left: 36%;
}

#section3:hover{
    z-index: 10;
    transform: scaleX(1.2);
}

#section4{
    z-index: 2;
    width: 26%;
    height: 100%;
    background-color: rebeccapurple;
    position: absolute;
    left: 64%;
    transform: skewX(-6deg);
}

#section4:hover{
    transform: scaleX(1.4);
}

#section5{
    z-index: 3;
    width: 22%;
    height: 100%;
    background-color: aqua;
    transform: skewX(-12deg);
    position: absolute;
    left: 83%;
}

#section5:hover{
    transform: scaleX(1.6) skewX(-12deg);
}