body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#userdatacontainer{
    height: 0;
    padding-bottom: 80vh;
    position: relative;
}

.wrapper{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 60vh;
    text-align: center;
	padding-top: 0;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
	background: #fff;
	border-radius:0.25em;
   
}

input, select {
	padding:0.5em;
	font-size:0.775em;
	font-family:'Roboto';
	background:#f4f4f4;
	border:1px solid rgb(255, 255, 255);
	border-width:1px 1px 1px 0;
	border-radius:0;
    
}

input:focus,
select:focus {
	background:#fff;
	box-shadow:inset 0.1em 0.1em 0.25em rgba(0,0,0,0.2);
	outline:0;
}

.form-field {
	margin-bottom:1em;
	display:flex;
    
}

.form-field label {
	flex:0 1 4em;
	padding:1em;
	background:#fff;
	border:1px solid #ccc;
	text-shadow:0 1px 0 #fff;
	line-height:1;
    height: 2em;
    font-size:0.75em;
}


.form-field input,
.form-field select {
	flex-grow:1;
	
}

.form-field label {
	border-radius:0.25em 0 0 0.25em;
}

.input-right input,
.input-right select,
.multi-input input:last-child,
.multi-input select:last-child {
	border-radius:0 0.25em 0.25em 0;
}

.dob-select{
	flex-basis: 0.2vh;
	
}


input[type="submit"] {
	flex:0 1 40%;
	padding: 0.8em 1.6em 0.8em 1.6em;
	font-size:1.2rem;
	font-family:'Roboto';
	text-shadow:0 1px 0 #fff;
	background:#a4d0e6;
	border-radius:0.25em;
	border:0;
	transition:0.3s;
	cursor:pointer;
}
input[type="submit"]:hover {
	color:#fff;
}

p{
    font-family: 'Roboto'
}


label{
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}

label a{
    color: black;
    padding: 0.5em 0px 0.5em 0px;
}

.losgehts{
    display: flex;
    justify-self: right;
    padding: 32px;
}

.submit-field{
    padding-top: 1%;
}

.sections{
    position: relative;
    width: 100%;
    height: 80vh;
}

form h2{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 6px;
}

.header img{
    display: none;
}

@media only screen and (max-width: 1000px) {

.header{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #a4d0e6;
    text-align: center;
    padding:5px 0px 5px 0px;
}

.header img{
    height: 100%;
}


.foot{
    height: 10vh;
    width: 100%;
    background-color: #a4d0e6;
    position:relative;
}

.height {
    height: 100px;
    width: 100%;
}




}

